/* Сброс css */
ul {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

ul,
ol[class] {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus {
    outline: none;
}


body {
    color: rgb(75, 75, 75);
    font-family: Helvetica, sans-serif;
}

.content {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: lightgray;
    background-image: url(img/header05.jpg);
    background-size: 100%;
    display: flex;
    align-items: center;
}

.header__image {
    border-radius: 50%;
    border: 1px solid rgba(217, 200, 180, 0.219);
    margin: 10px 0 10px 20px;
}

.header__title {
    margin-left: 45px;
}

.header__title-main {
    /*text-align: center;*/
    border-bottom: 1px solid #D9C8B4;
    font-size: 27px;
    color: rgb(90, 90, 90);
    font-weight: 500;
}

.header__subtitle {
    margin-top: 3px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.contacts {

}

.header__contacts {
    margin: auto 35px auto auto;
}

.contacts__title {
    display: inline-block;
    border-bottom: 1px solid #D9C8B4;
    margin-bottom: 11px;
    color: rgb(90, 90, 90);
    font-weight: 500;
}

.contacts__list {

}

.contacts__list-item {
    font-size: 14px;
    margin-bottom: 2px;
    color: rgb(107, 107, 107);
}

.contacts__list-item a {
    color: rgb(75, 75, 75);
}

.main-block {
    background-color: rgba(217, 200, 180, 0.452);
    padding: 20px 25px;
}

.item-main {
    margin-bottom: 15px;
}

.item-main__title {
    margin: 0 0 7px 10px;
    color: rgb(90, 90, 90);
    font-weight: 500;
}

.item-main__text {
    padding: 15px 26px;
    /*color: rgb(58, 58, 58);*/
    text-align: justify;
    font-size: 14px;
    color: rgb(92, 92, 92);

}


.item-main__text_bg-lemon {
    background-color: rgba(191, 173, 80, 0.541);
}

.item-main__text_bg-pink {
    background-color: #D9BABA;
}

